body {
	margin: 0;
	padding: 0;
}

span {
	font-family: 'upheavtt';
	height: auto;
  width: auto;
 	white-space: nowrap;
}

#container {
	background-image: url("../images/outsidebg.png");
	width: 480px;
	height: 320px;
}

#splash {
	position: absolute;
	background-image: url("../images/titlescreen.png");
	width: 480px;
	height: 320px;
	left: 0;
	top: 0;
	background-color: #000000;
}

#splash_text {
	position: absolute;
	left: 0;
	top: 260px;
	width: 480px;
	height: 40px;
	font-family: 'upheavtt';
	font-size: 32px;
	color: #ffffff;
	letter-spacing: 0.5px;
	text-align: center;
}

#splash_end_text {
	position: absolute;
	left: 0;
	top: 220px;
	width: 480px;
	height: 40px;
	font-family: 'upheavtt';
	font-size: 32px;
	color: #ffffff;
	letter-spacing: 0.5px;
	text-align: center;
	z-index: 5;
}

#splash_end {
	width: 480px;
	height: 320px;
	left: 0;
	top: 0;
	position: absolute;
	background-color: #000000;
	opacity: 0.3;
	z-index: 4;
}

div {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}