body {
	margin: 0;
	padding: 0;
}

span {
	font-family: 'upheavtt';
	height: auto;
    width: auto;
    white-space: nowrap;
}

#container {
	background-image: url("../images/outsidebg.png");
	width: 480px;
	height: 320px;
}

div {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}